
.calandera-note-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.form-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 24px;
    justify-content: space-around;
    align-items: center;
    min-width: 80%;
    height:100%;
}
.form-question{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.form-button{
    background-color: #6366f1;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 15px; 
    margin-bottom: 1rem;
}
.retrieved-notes-conatiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}
.retrieved-note{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.retrieved-note-question{
    width:100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.retrieved-note-answer{
    font-size: 14px;
}
.retrieved-note-date{
    text-align: center;
    align-self: center;
    border-radius: 24px;
    background-image: linear-gradient(#e0e7ff, #ddd6f3);
    padding: 0.3rem;
    font-size: 12px;
}
.q-a-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:30%;
}
.more-notes-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    margin: auto;
    background-image: linear-gradient(#e0e7ff, #ddd6f3);
    width: 50%;
    min-height:0%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  textarea.form-input {
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}