.main-page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.main-page-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
