.sign-up-card{
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 50%;

}
.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height:60%;
}
.sign-up-headline{
    color: #1f2937;
    font-size: 28px;
    font-weight: bold;
}
.sign-up-button{

    background-color: #6366f1;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.sign-up-button:hover{
    background-color:#4f46e5
}

.registered_p{
    color: #ff0000;
    font-weight: bold;
}

.sign-up-label{
    font-size:14px ;
    font-weight: bold;
}
.sign-up-input{
    font-size:16px ;
}
.sign-up-p{
    font-size:12px ;
   
}
.sign-up-input-conatiner{
    display: flex;
    flex-direction: column;
}