.navbar-card{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    padding: 20px 15px;
}
.navbar-card-option{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding:10px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.navbar-card-option-text{
    margin-left: 0.5rem;
}
.navbar-card-option:hover{
    background-color:  #ddd6f3;
    border-radius: 10px;
    padding:10px 0px 10px 10px;
}
.navbar-card-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px;
}