.main-page-conatiner{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.main-page-content{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 20px;
}